// /* You can add global styles to this file, and also import other style files */

@import './mixins.scss';

.rowc {
    @include row();
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.rowr {
    @include row();
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
}

input {
<<<<<<< HEAD
    border-radius: 5px;
    padding: 0px 2px;
    width: 320px;
    font-size: 20px;
    font-weight: 700;
=======
    padding: 2px 4px;
    border-radius: 10px;
    width: 320px;
>>>>>>> origin/develop
}