// /* You can add global styles to this file, and also import other style files */

@import './mixins.scss';

.mapHeight {
    height: calc(100vh - #{$header-height});
}

.mapMargin {
    margin-top: $header-height;
    margin-left: $sidebar-left-size;
}

.mainMargin {
    margin-top: calc(#{$header-height} + 3rem);
    margin-left: 140px;
    margin-right: 40px;
}

.rowc {
    @include row();
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.rowr {
    @include row();
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
}

input {
    border-radius: 10px;
    padding: 0px 2px;
    width: 420px;
    font-size: 20px;
    font-weight: 700;
    font-size: 1.4rem;
}

html {
    font-size: 10px !important;
}
